<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="infoUploadSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://59.52.226.113:9180/jdc-webservice/services/infoUpload"
                binding="basicHttpBinding" bindingConfiguration="infoUploadSoapBinding"
                contract="ServiceReference_JX2.InfoUploadService" name="InfoUploadServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>